# --- Basura de Python (Compilados) ---
__pycache__/
*.pyc

# --- Entornos Virtuales (PESADOS) ---
venv/
env/
.venv/

# --- Variables de Entorno y Secretos (SEGURIDAD) ---
.env
.streamlit/secrets.toml

cerebro_legal/
*.sqlite3

# --- Archivos de Sistema y Editor ---
.vscode/
.idea/
.DS_Store
Thumbs.db
ver_modelos.py
